# Discord API wrapper
dico-api @ git+https://github.com/dico-api/dico.git@master
dico-interaction @ git+https://github.com/dico-api/dico-interaction.git@master
dico-command @ git+https://github.com/dico-api/dico-command.git@master

# Audio node
discodo @ git+https://github.com/kijk2869/discodo.git@master

# Extra for dico
PyNaCl==1.4.0
aiohttp[speedups]>=3.8.0

# Extra for bot
rich==10.12.0
humanize==3.11.0
psutil==5.8.0
aioredis==2.0.0
